@model Application.DTO.Models.Expediente

@using Enums = Domain.Infrastructure;
@using resources = Infrastructure.Resources;


@{
    int count = 1;

    int TipoDocumentoEnum = (int)Enums.TipoDocumento.Expediente;
}
<script type="text/javascript">

    ; (function ($) {
        $(function () {

            callToolTipsGrid("fsAdjuntosExp");

            activateForm("btSaveInadmisible", "frmDerivar",
                function () {
                    
                    if (!$("#checkDeclarar").is(":checked")) {
                        showBlockUIError("Debe marcar la casilla de declaración");
                        return false;
                    }
                    return true;
                },
                function () {

                    showBlockUI(CloseDialog);

                    $("#grilla tr.selected i.x-icon-org").click();

                });

        });
    })(jQuery);

</script>

<div class="modal-body">


    <form class="form-horizontal " id="frmDerivar" method="post" action="@Url.Action("ActionExpediente", "Expedientes")">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ExpedienteID)
        @Html.HiddenFor(x => x.CausaID)
        @Html.Hidden("Identidad", Model.ExpedienteID)
        @Html.Hidden("action", Enums.ActionSystem.ExpedienteInadmisible)

        <fieldset class="x-fieldset">
            <legend></legend>
            <p class="bold mb0">N° ROL: @Model.Causa.NumeroTicket</p>
        </fieldset>

        <fieldset class="x-fieldset">
            <legend class="celeste bold">Evento</legend>

            <div class="form-group row align-items-center">
                <label for="TipoTramiteID" class="col-md-3 col-form-label" id="">Tipo Trámite </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" disabled="disabled" value="@Model.TipoTramite.Descripcion" />
                </div>
            </div>

            <div class="form-group row align-items-center">
                <label for="" class="col-md-3 col-form-label" id="">Fecha </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" disabled="disabled" value="@Html.DatetimeToString(Model.FechaExpediente, "dd-MM-yyyy HH:mm")" />
                </div>
            </div>

        </fieldset>

        <fieldset class="x-fieldset" id="fsAdjuntosExp">
            <legend class="celeste bold">Documentos adjuntos</legend>

            <div class="table-responsive">

                <table class="@Html.GetBaseTableCSS()" id="">
                    <thead>
                        <tr>
                            <th class="ac" style="">#</th>
                            <th class="ac" style="">Nombre Documento</th>
                            <th class="ac" style="">Descripción</th>
                            <th class="ac" style="">Fecha Carga</th>
                            <th class="ac" style="">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AsocEscritoDocto.Count > 0)
                        {
                            count = 1;

                            foreach (var item in Model.AsocEscritoDocto)
                            {
                                var doc = item.AsocCausaDocumento.DocumentoCausa;

                                <tr>
                                    <td class="ac">@count</td>
                                    <td class="">@doc.NombreArchivoFisico</td>
                                    <td style="max-width:200px" class="fixWord">@doc.Descripcion</td>
                                    <td class="ac">@Html.DatetimeToString(doc.Fecha, "dd-MM-yyyy HH:mm")</td>
                                    <td class="ac">

                                        <a style="margin-right:2px" href="javascript:void(0)"
                                           onclick='getDownloadFile(@doc.DocumentoCausaID, @Model.CausaID, "@doc.Hash.Trim()", @TipoDocumentoEnum)'
                                           class="x-title-l" title="@resources.GlobalResources.BtnDescargar">
                                            <i class="x-icon @Html.GetCSS(doc.NombreArchivoFisico)" style="cursor: pointer;"></i>
                                        </a>

                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="" style="padding:5px 10px;">No hay información para desplegar</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>


        </fieldset>

        <fieldset class="x-fieldset" id="fsAdjuntosExp">
            @*<legend class="celeste bold">Inadmisible</legend>*@

            <div class="form-group row" id="divComentario">
                <label for="Comentario" class="col-md-3 col-form-label">Comentarios <span class="span-obligatorio">*</span></label>
                <div class="col-md-9">
                    <textarea class="notFilter form-control verificar" name="Comentario" id="Comentario" cols="2" rows="2" maxlength="500"></textarea>
                </div>
            </div>

        </fieldset>

      
        <div class="alert alert-danger ac" role="alert" style="margin-top:5px;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkDeclarar" value="1">
                <label class="form-check-label" for="checkDeclarar">Declaro que he revisado y decidido eliminar el presente Expediente</label>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">  

    <button type="button" class="btn btn-default btnAceptar"  onclick="$('#frmDerivar').submit()"  id="btSaveInadmisible"><i class="x-icon x-icon-ok icon-in-button"></i>Si</button><i class="x-icon-loader hide"></i>
    <button class="btn btn-default" data-dismiss="modal" type="button"><i class="x-icon x-icon-cancel2 icon-in-button"></i>No</button>
</div>

