@model Application.DTO.Models.Tabla

@using Enums = Domain.Infrastructure;
@using resources = Infrastructure.Resources;

@{
    bool IsNew = Model.TablaID == 0;

    var DataForm = ViewBag.DataForm as Application.DTO.DataForm;
}


<script type="text/javascript">

    ; (function ($) {
        $(function () {

            callCalendarPopup("frmTabla");

            activateForm("btnSaveTabla", "frmTabla",
                function () {

                    return true;
                },
                function () {

                    if (xResultJsonData.result == ReturnJson.ActionSuccess)
                    {
                        CloseDialog();
                        showBlockUI();
                        GetListadoTablas();
                    }
                    
                    if (xResultJsonData.result == ReturnJson.ErrorModelo) {

                        xAlert({
                            title: "Error de Ingreso",
                            alert: "alert-danger",
                            html: "No es posible agregar otra Tabla para el día <b>" + $("#frmTabla #Fecha").val() + "</b>",
                            callback: function () {
                                
                            }
                        })
                    }

                });

        });
    })(jQuery);

</script>

<div class="modal-body ">

    <form class="form-horizontal " id="frmTabla" method="post" action="@Url.Action("SaveTabla", "Listados")">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.TablaID)
        @Html.HiddenFor(x => x.EstadoTablaID)
        @Html.HiddenFor(x => x.UsuarioSubroganteID)

        <div class="form-group row align-items-center">
            <label for="Fecha" class="col-md-3 col-form-label" id="">Fecha <span class="span-obligatorio">*</span></label>
            <div class="col-md-5">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Fecha, new
                       {
                           @Value = Html.DatetimeToString(Model.Fecha),
                           @class = "ac IsCalendar form-control",
                           @style = "",
                           @placeholder = "",
                           @maxlength = "10",
                           @data_year_range = "-1:+1",
                           @data_max_date = "+30d",
                           @readonly="readonly"
                       })
                    <div class="input-group-append">
                        <span class="input-group-text" id=""><i class="x-icon x-icon-calendar" data-dateinput="Fecha"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="UsuarioRelatorID" class="col-md-3 col-form-label" id="">Relator <span class="span-obligatorio">*</span></label>
            <div class="col-md-9">
                <select id="UsuarioRelatorID" name="UsuarioRelatorID" class="custom-select verificar" data-default="">
                    <option value="">@resources.GlobalResources.OptionInicial</option>
                    @foreach (var item in DataForm.Usuario.Where(x => x.UsuarioID > 0 && x.IsTDPI()))
                    {
                        string selected = (item.UsuarioID == Model.UsuarioRelatorID) ? "selected='selected'" : "";
                        <option value="@item.UsuarioID" @selected>@item.GetFullName()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="SalaID" class="col-md-3 col-form-label" id="">Sala <span class="span-obligatorio">*</span></label>
            <div class="col-md-9">
                <select id="SalaID" name="SalaID" class="custom-select verificar" data-default="">
                    <option value="">@resources.GlobalResources.OptionInicial</option>
                    @foreach (var item in DataForm.Sala)
                    {
                        string selected = (item.SalaID == Model.SalaID) ? "selected='selected'" : "";
                        <option value="@item.SalaID" @selected>@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <label for="TipoTablaID" class="col-md-3 col-form-label" id="">Tipo Tabla <span class="span-obligatorio">*</span></label>
            <div class="col-md-9">
                <select id="TipoTablaID" name="TipoTablaID" class="custom-select verificar" data-default="">
                    <option value="">@resources.GlobalResources.OptionInicial</option>
                    @foreach (var item in DataForm.TipoTabla)
                    {
                        string selected = (item.TipoTablaID == Model.TipoTablaID) ? "selected='selected'" : "";
                        <option value="@item.TipoTablaID" @selected>@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>


    </form>


</div>
<div class="modal-footer">

    <button id="btnSaveTabla" class="btn btn-default" onclick="$('#frmTabla').submit()" type="button"><i class="x-icon x-icon-save2 icon-in-button"></i> @resources.GlobalResources.BtnGuardar</button>
    <i class="x-icon-loader hide"></i>
    <button class="btn btn-default" data-dismiss="modal" type="button"><i class="x-icon x-icon-cancel2 icon-in-button"></i> @resources.GlobalResources.BtnCancelar</button>

</div>
